html{
  width:100%;
  height:100%;
}

body{
  width:100%;
  height:100%;
  min-width:1000px;
  min-height:400px;
  
  margin:0px;
  padding:0px;
}

body{
}

header{
  width:850px;
  
  height:30px;
  border-style:solid;
  border-width:3px;
  border-radius:15px; 
  
  margin:20px auto;
}

nav div{
  font-size:17px;
  font-weight:bold;
  float:left;
  margin-left:15px;
}

a{
  text-decoration:none;
}

a:hover{
  text-decoration:underline;
}

.content{
  width:835px;
  
  border-style:solid;
  border-width:3px;
  border-radius:30px;
  
  margin:0px auto;
  padding: 15px;
}

footer{
  width: 850px;
  
  height:20px;
  font-size:15px;
  text-align:center;
  border-style:solid;
  border-width:3px;
  border-radius:10px;
  
  margin:20px auto;
}