<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'main_styles/home' %>
<% end %>
<div id="avatar"></div>
<% if user.id == current_user.id %>
  <%= render "edit_profile" %>
<% else %>
  <%= render "profile", :profile => user.profile %>
<% end %>
<%= render "show_microposts" %>