<% content_for :javascripts do %>
  <%= javascript_include_tag "highcharts/highcharts", "my_charts.js"%>
<% end %>
<section class="content">
  <div id="orders_chart"></div>
  <div id="date" data-date="<%= 3.weeks.ago.to_i*1000%>"></div>
</section>