<%= render 'user/header' %>
<section class="content">
  <div id="all_users">
    <% @users.each do |user| %>
      <div class="user">
        <%= user.profile.first_name %> <%= user.profile.last_name %>
      </div>
    <% end %>
  </div>
</section>