.content{
  width:550px;
  margin-top:25px;
}

#image_devise{
  height:200px;
  float:left;
  border-style:solid;
  border-radius:30px;
  border-width:5px;
  padding:10px;
  
  margin:0px 20px;
}

form{
  height:240px;
}

div#links{
  text-align:center;
}