.friend{
  height:120px;
  border-style:solid;
  border-width:2px;
  border-radius:10px;
  margin-bottom:10px;
}

.avatar{
  height:100px;
  float:left;
  margin:10px 40px 10px 20px;
}

.user_info{
  height:100px;
  float:left;
  margin:10px 40px 10px 0px;
}
.user_profile{
  margin:10px 0px;
}