body{
  width:100%;
  height:100%;
  min-width:1000px;
  min-height:400px;
  
  margin:0px;
  padding:0px;
}

header{
  width:650px;
  
  height:30px;
  border-style:solid;
  border-width:3px;
  border-radius:15px; 
  
  margin:20px auto;
}

nav div{
  font-size:17px;
  font-weight:bold;
  float:left;
  margin-left:15px;
}

a{
  text-decoration:none;
}

a:hover{
  text-decoration:underline;
}

.content{
  width:635px;
  
  border-style:solid;
  border-width:3px;
  border-radius:30px;
  
  margin:0px auto;
  padding: 15px;
}

footer{
  width: 650px;
  
  height:20px;
  font-size:15px;
  text-align:center;
  border-style:solid;
  border-width:3px;
  border-radius:10px;
  
  margin:20px auto;
}

.edit_profile_label{
  width:100px;
  display:inline-block;
}

#thema{
  background-color:#FFFFFF;
  width:10px;
  height:10px;
  border-style:solid;
  border-width:2px;
  border-radius:5px;
  position:absolute;
  top:0px;
  right:0px;
}