#avatar{
  float:left;
  border-style:solid;
  border-width:1px;
  border-radius:10px;
  padding:10px;
}

#info{
  min-height:150px;
  border-style:solid;
  border-width:1px;
  margin-left: 170px;
}

#microposts{
  margin-top:20px;
}

.micropost{
  border-style:dotted;
  border-width:1px;
  border-radius:10px;
  margin-bottom:10px;
  padding:5px;
}

.sender{
}

.messager{
}