<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'main_styles/home' %>
<% end %>

<%= render "users/header" %>
<section class="content">
  <%= render :partial => "photo", :collection => @photos %>    
  <%= render "new_photo" %>
</section>